
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-color: white;
    background-color: lightseagreen;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .button {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #5f00ff;
    border: none;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  