.h2 {
  font-size: xx-large;
  margin-top:37px;
  margin-bottom:62px;
  text-align: center;
}
.form {
  background-color: #AAAAAA;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-top:100px;
  }
  
  .field {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    /* max-width: 500px; set a maximum width */
  }
  
  
  .submitButton {
    background-color: #0070f3;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .submitButton:hover {
    background-color: #0061d1;
  }
  

  .loan_cards_container {
    margin:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
  }
  
  .loan_card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loan_card p {
    margin-top: 3px;
    margin-bottom:10px;
    font-size: 16px;
  }
  
  .pay_button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .disabled_button {
    background-color: #cccccc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
  }

