.nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-top:4px;
  font-size: large;
  margin-right: 3rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.connectbtn {
  /* position: absolute; */
  top: 1rem;
  right: 1rem;
}
.connectbtn button{
  font-size: large;
}
.img{
  margin-left: 10px;
  margin-right:100px;
}
